<div>
   <h3><p class="label label-pill label-info">Име: {{firstName}}</p><h3>
   <h3><p class="label label-pill label-info">Фамилия: {{lastName}}</p><h3>
   <h3><p class="label label-pill label-info">Пол: {{gender}}</p><h3>
   <h3><p class="label label-pill label-info">Дата на раждане: {{birthdate}}</p><h3>
   <h3><p class="label label-pill label-info">Град: {{city}}</p><h3>
   <h3><p class="label label-pill label-info">Образование: {{education}}</p><h3>
   <h3><p class="label label-pill label-info">Потребителско име: {{username}}</p><h3>
   <h3><p class="label label-pill label-info">Парола: ***</p><h3>
   <h3><p class="label label-pill label-info">Тел.: {{phone}}</p><h3>
   <h3><p class="label label-pill label-info">Поща: {{mail}}</p><h3>
   <h3><p class="label label-pill label-info">Уебсайт: {{site}}</p><h3>
   <h3><p class="label label-pill label-info">Езици: {{languages}}</p><h3>
   <h3><p class="label label-pill label-info">Интереси: {{hobbies}}</p><h3>
</div>